RewriteEngine on
RewriteBase /client-moodle/trunk/

RewriteCond $1 !^(index\.php|images|robots\.txt|css|js|fonts|eof|ttf)
RewriteRule ^(.*)$ /client-moodle/trunk/index.php/$1 [L]

php_flag short_open_tag On